@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,700&display=swap");

body {
	background-color: #344055;
	color: #f0f2ef;
	font-family: "Open Sans", sans-serif;
}

.intro {
	display: flex;
	justify-content: center;
	height: 80vh;
	align-items: center;
	flex-direction: column;
	height: 75vh;
	p {
		margin-bottom: 0;
	}
	h1 {
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 0;
		color: #ff8552;
	}
	button {
		margin-top: 15px;
		background-color: #3993dd;
		border: 0;
		padding: 10px;
		border-radius: 10px;
		color: inherit;
		font-weight: 700;
	}
}
